<!DOCTYPE html> 
<html>
  <header>
  </header>  
  <body>
    <%= image_tag 'rubyonrailswebapplicatondevelopment.png' %>
    <h1>This is the About Page</h1>
    <%= link_to 'Home', root_path %>
  </body>
<footer>
  <h1>This is the Footer of the Home Page</h1>
</footer>
</html>