<!DOCTYPE html> 
<html>
  <header>
  </header>  
  <body>
    <%= image_tag 'rubyonrailswebapplicatondevelopment.png' %>
    <h1>This is the Home Page</h1>
    <%= link_to 'Alpha blog', articles_path %> | <%= link_to 'About', about_path %>
  </body>
<footer>
  <h1>This is the Footer of the Home Page</h1>
</footer>
</html>
